.main{
    width: 400px;
    height: 200px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.left{
    width: 100px;
    height: 100px;
    background: #fc0;
    position: absolute;
    top: -50px;
    left: -50px;
    border-radius: 50px;
}

.right{
    width: 100px;
    height: 100px;
    background: #fc0;
    position: absolute;
    bottom: -50px;
    right: -50px;
    border-radius: 50px;
}